<app-header></app-header>
<app-menu></app-menu>

<div class="row">
  <div class="col-10 m-auto p-5">
    <h2>Employee List</h2>
    <a href="/employees">
      <button type="button" class="btn btn-warning ">Employee list</button>
    </a>
    <form [formGroup]="employeeForm" (ngSubmit)="submit()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="exampleInputEmail1">Name Employee</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="employeeName">
          <div *ngIf="employeeForm.controls.employeeName.dirty && employeeForm.controls.employeeName.hasError('required')">
            <p class="text-danger">please input</p>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="exampleInputEmail">Email</label>
          <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                 placeholder="Enter email" formControlName="employeeEmail">
          <div *ngIf="employeeForm.controls.employeeEmail.dirty && employeeForm.controls.employeeEmail.hasError('required')">
            <p class="text-danger">please input</p>
          </div>
          <div *ngIf="employeeForm.controls.employeeEmail.dirty && employeeForm.controls.employeeEmail.hasError('email')">
            <p class="text-danger">Not the right format</p>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="exampleInputEmail12">Salary</label>
          <input type="number" class="form-control" id="exampleInputEmail12" aria-describedby="emailHelp"
                 placeholder="Enter email" formControlName="employeeSalary">
          <div *ngIf="employeeForm.controls.employeeSalary.dirty && employeeForm.controls.employeeSalary.hasError('required')">
            <p class="text-danger">please input</p>
          </div>
          <div *ngIf="employeeForm.controls.employeeSalary.dirty && employeeForm.controls.employeeSalary.hasError('min')">
            <p class="text-danger">salary > 0</p>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="exampleInputPassword1">Brithday</label>
          <input type="date" class="form-control" id="exampleInputPassword1" formControlName="employeeBirthday">
          <div *ngIf="employeeForm.controls.employeeBirthday.dirty && employeeForm.controls.employeeBirthday.hasError('required')">
            <p class="text-danger">please input</p>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputCity3">Address</label>
          <input type="text" class="form-control" id="inputCity3" formControlName="employeeAddress">
          <div *ngIf="employeeForm.controls.employeeAddress.dirty && employeeForm.controls.employeeAddress.hasError('required')">
            <p class="text-danger">please input</p>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="exampleFormControlSelect14">Position</label>
          <select class="form-control" id="exampleFormControlSelect14" formControlName="position">
            <option>lễ tân</option>
            <option>phục vụ</option>
            <option>chuyên viên</option>
            <option>giám sát</option>
            <option>quản lý</option>
            <option>giá đốc</option>
          </select>
          <div *ngIf="employeeForm.controls.position.touched && employeeForm.controls.position.hasError('required')">
            <p class="text-danger">please choose</p>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="exampleFormControlSelect4">Education Degree</label>
          <select class="form-control" id="exampleFormControlSelect4" formControlName="educationDegree">
            <option>Trung cấp</option>
            <option>Cao đẳng</option>
            <option>Đại học</option>
            <option>sau đại học</option>
          </select>
          <div *ngIf="employeeForm.controls.educationDegree.touched && employeeForm.controls.educationDegree.hasError('required')">
            <p class="text-danger">please choose</p>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="inputCity2">ID Cart</label>
          <input type="text" class="form-control" id="inputCity2" formControlName="employeeIdCard">
          <div *ngIf="employeeForm.controls.employeeIdCard.dirty && employeeForm.controls.employeeIdCard.hasError('required')">
            <p class="text-danger">please input</p>
          </div>
          <div *ngIf="employeeForm.controls.employeeIdCard.dirty && employeeForm.controls.employeeIdCard.hasError('pattern')">
            <p class="text-danger">Not the right format</p>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="exampleFormControlSelect24">Division</label>
          <select class="form-control" id="exampleFormControlSelect24" formControlName="division">
            <option>Sale – Marketing</option>
            <option>Hành Chính</option>
            <option>Phục vụ</option>
            <option>Quản lý</option>
          </select>
          <div *ngIf="employeeForm.controls.division.touched && employeeForm.controls.division.hasError('required')">
            <p class="text-danger">please choose</p>
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Number Phone</label>
          <input type="text" class="form-control" id="inputZip" formControlName="employeePhone">
          <div *ngIf="employeeForm.controls.employeePhone.dirty && employeeForm.controls.employeePhone.hasError('required')">
            <p class="text-danger">please input</p>
          </div>
          <div *ngIf="employeeForm.controls.employeePhone.dirty && employeeForm.controls.employeePhone.hasError('pattern')">
            <p class="text-danger">Not the right format</p>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Create Employee</button>
    </form>
  </div>
</div>

<app-footer></app-footer>
